.profile-component {
  text-align: center;
  background-color: rgb(81, 223, 175);
  padding: 20px 0;

  &__button {
    width: 910px;
    height: 65px;
    border: 1px solid grey;
    font-family: Arial;
    background-color: blanchedalmond;
  }
}
