.rounded-btn-component {
  display: inline-block;
  width: 290px;
  height: 45px;
  border: 0;
  font-family: helvetica;
  background-color: blanchedalmond;
  border-radius: 50%;
  margin: 20px 0 20px 20px;

  &--font-bold {
    font-weight: bold;
  }

  &--border {
    border: 3px solid grey;
  }

  &--border-thick {
    border: 5px solid grey;
  }

  &--border-black {
    border-color: black;
  }

  &--blue {
    color: blue;
  }

  &--green {
    color: green;
  }

  &--red {
    color: red;
  }

  &--profile-context {
    border: 1px solid black;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  &:focus {
    outline: none;
  }

  &__wrapper-content {
    display: flex;
    justify-content: center;
    align-items: center;

    &--right {
      flex-direction: row-reverse;
    }
  }

  &__icon {
    margin-right: 10px;
    height: 1.8em;

    &--right {
      margin-right: 0px;
      margin-left: 10px;
    }
  }
}
