.MainForm {
    height: 100vh;
}

.MainForm form {
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    padding: 20px;
    background: linear-gradient(to left, #2980b9, #6dd5fa, #ffffff);
}

.MainForm-Field {
    margin-bottom: 20px;
}

.MainForm-SendBtn {
    width: 100%;
}